<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>OVINO</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- collapsible css -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/slider/materialize_edited.css') }}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../static/css/responsive.css">


    <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/social_icon.css">

  </head>
  <style>
    .checked {
      color: #ad003b;
    }
  </style>
  <style>
    .solid_border {
      border: 1px;
      border-style: solid;
      color: bababa;
    }
  </style>
  <style>
    .btn {
      font-size: 20px;
    }
  </style>
  <style>
    ol {
      margin-left: 1em;
    }

    ol li {
      padding-left: 10px;
      list-style-type: decimal;
    }
  </style>
  <style>
    .brmedium {
      display: block;
      margin-bottom: 1em;
    }

    /* unvisited link */
    a:link {
      color: white;
    }

    /* visited link */
    a:visited {
      color: white;
    }

    /* mouse over link */
    a:hover {
      color: white;
    }

    /* selected link */
    a:active {
      color: blue;
    }

    .fa-social{
        font-size: 35px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      text-align: center;
      text-decoration: none;
      margin: 5px 20px;
      border-radius: 50%;
      vertical-align: middle;
    }

  </style>
  
  <!-- Javascript -->
  <script type="text/javascript" src="../static/js/materialize.min.js"></script>
  <!--[if lt IE 9]>
                            <!-- Back to top button -->
  <!-- body -->
  <body class="main-layout">
    <!-- loader  --
       <div align="center"><div class="loader_bg"><div class="loader"><img src="../static/images/loading.gif" align="center"/></div></div></div>
                              <!-- end loader -->
    <!-- header -->
    <header style="margin-top: 5%;">
      <!-- header inner -->
      <div class="head_top">
        <div class="header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md"></div>
              <div class="col-md-10 logo_section">
                <div class="full">
                  <div class="center-desk">
                    <div class="logo d-none d-lg-block " style=margin-top:0%>
                      <a href="/">
                        <img src="../static/images/ovino_click.png" alt="#" />
                      </a>
                    </div>
                    <div class="logo d-block d-lg-none">
                      <a href="/">
                        <img src="../static/images/ovino_click.png" alt="#" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md"></div>
            </div>
          </div>
        </div>
        <!-- end header inner -->
        <!-- end header -->
      </div>
    </header>
    <!-- end banner -->


    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-1"></div>
      <div class="col-lg-6 col-md-6 col-sm-8" style="width:80%;text-align:left;margin: auto;  ">
        <section class="introduction-section" style=margin-top:-10%>
              <h1>Hi, I'm Stephen! </h1>

   
          
          <h3> 
            
            Welcome to OVINO! I made this app to help me find awesome wine for the best prices anywhere in Ontario, Canada. Anywhere! All liquor stores are owned by the government, and they publish their live prices and inventories online. OVINO collects this information and uses machine learning to judge whether these prices are 'good'. 
                      
            
            
            <br>
            <br>
             So, if you're on the hunt for some tasty and well priced wines, click on the OVINO logo above. Type in your general location and enjoy! <br><br>

        
            If you'd like to learn more, continue reading below and check out <a href="https://royourboat.github.io/" style="color:blue">my blog</a> for details! 
          </h3>
        </section>





      </section>

        <section class="problem-section">
          <h1> The problem.</h1>
          <h3> 
            I'm a complete wine novice. My eyes strain from reading <font size=1px> tiny terse descriptions </font> about arbitrarily priced bottles. I often end up buying the coolest looking bottle, which is fun but a risky $20. 
            <br><br>
            <img src="../static/images/wine-lcbo.jpg" />
            <br>
            <br>
          Unfortunately, LCBO's app is underused and lacks ratings. Wine recommendations from the LCBO staff have also flopped even after feedback and revised recommendations. And, prices are often questionable given the government-run company posses an extremely strong monopoly.
          <br>
          <br>

          <b>My needs are simple:</b> access to star ratings and 3rd-party price recommendations for wines immediately available near me. 

          </h3>
        </section>

        <section class="recommender-section">
          <h1>The price recommender.</h1>
          <h3>
            <a href="https://www.vivino.com" style="color:blue">Vivino</a> is a very popular wine app containing millions of wines, many of which have over 100,000 reviews! <br>
            <br> OVINO sifts through millions of wine reviews to determine the price users paid and their price satisfaction. By comparing LCBO's prices with what users paid, OVINO tallies user price opinions and identifies the most favorably priced wines.


            
            <br>
          <br>
          
            Here's a schematic of my idea:
          
          <a href="../static/images/price_sentiment_diagram.png">
            <img src="../static/images/price_sentiment_diagram.png" />
          </a>
        </h3>
          <br><br>
        </section>
          <section class="details-section">
            <h1>The machine learning.</h1>

            <h3>
          How do I sift through all of these reviews? With some exploratory data analysis to start. <a href="https://royourboat.github.io/posts/2023-07-06-vivino-part1" style="color:blue">Here's a link</a> to one of my posts that digs into the reviews. 
          
          <br><br>
          <b>Step one: Identify reviews with prices</b><br>
          Identifying reviews containing prices is straightforward: if there is a dollar sign '$' followed by a set of numbers then that is the price. This reduces millions of reviews to roughly 150k with prices that users paid, about one-third of which are for bottles available at the LCBO. 
          <br><br>
          <b>Step two: Create training data</b><br>

          Trying to extract the price sentiment from 50k reviews is a lot of human effort. This is where the power of machine learning comes in! To train a machine learning model, we need to have (1) a set of labelled price sentiment reviews, and (2) a way to convert reviews into numbers for a computer to understand.
          
          <br><br>
          (1) I manually labelled a subset of reviews with price sentiments. <a href="https://royourboat.github.io/posts/2023-07-10-price-sentiment" style="color:blue">Here's a link</a> to a summary of the training data; it has figures like this one:<br><br>

          <img src="../static/images/price-sentiment.png" alt="#" />

          <br><br>

          (2) Converting reviews into numbers id described in detail <a href="https://royourboat.github.io/posts/2023-07-10-price-sentiment" style="color:blue">here</a>. Here's a brief summary of how I do this:
          
          <br><br>
          
          I use two Natural Language Processing methods: the 'bag of words' model and 'sentence embeddings'. The 'bag of words' model identifies keywords and labels them with a unique number. Here's an example:
          <br><br>
          <img src="../static/images/bagofwords.png" alt="#" />
          <br><br>
          You can see the problem immediately: the context is lost and multiple sentiments are merged together! This leads to false positives with longer reviews, but less so with short ones like "good price for $20". We can employ bigrams by treating "good price" as one keyword also, which is done here. 
          <br><br>
          
          Sentence transformers are trained on an extensive corpus of text and attempts to capture the essence or meaning of a text! Here's an example below:
          <br><br>
          <img src="../static/images/sentence-transformers.png" alt="#" />
          <br><br>

          Appears a bit magical! I found these transformers to help tremendously: <br> (a) Most reviews are dominated by descriptions of wine flavours, nuances, and other thoughts. The price-sentiment represents a small section of a review that the transformer can identify! This is really useful for imbalanced datasets like mine. <br>(b) Little pre-processing! The transformers are trained on corpuses like Reddit and Twitter. Unlike the bag of words model, the transformers understands that "perform", "performed", "performs", "performing", etc. are of the same etymology and are connected to other etymologies and synonyms!
          
          <br><br>

          Sometimes the sentence transformer can just miss the mark. For instance, it may not understand that "Good QPR" means "Good quality-price ratio", which would be a positive sentiment that the bag of words model can learn easily. That's why combining the bag of words model and sentence transformers leads to better results! 
          <br><br>
          Turns out my idea is an analog to the 'wide & deep' recommender (<a href="https://arxiv.org/abs/1606.07792" style="color:blue">paper here</a>)! The 'wide' network is the bag of words, and the 'deep' is the sentence transformer. 
          
          

          <br><br>
          <b>Step three: Machine learning!</b><br>

          The last step is to find the best machine learning model that can predict the correct price sentiments given a review (or, more precisely, the long list of numbers described earlier). This requires experimentation. I use 6 different machine learning models and compare their performances <a href="https://royourboat.github.io/posts/2023-07-11-price-sentiment-2/" style="color:blue">here</a>. 

          <br><br>
          Here are the results for the best model, XGBoost! If you're not familiar with these sorts of plots, the performance is pretty darn good for NLP problems with an imbalanced dataset and small signal. 
          <br><br>
          <img src="../static/images/xgboost.png" alt="#" />
          

          </h3>
          <br><br>
          <h3> 
            <b>If you've made it this far then thank you!</b><br> I hope I've peaked your interest in both wine and machine learning. 
            <br><br>
            <b>Bonus feature</b>: The LCBO provides both the sugar content and ABV for most bottles. Sugar and alcohol make up most of the calories. So, I provide an estimate for each bottle's total calories. This is an estimate! I am not dietitian. I am a physicist that has a pretty good understanding of energy conservation. So, this estimate should account for most of the calories.  </h3>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-1"></div>
    </div>


    <!--  footer -->
    <footer class="page-footer" style="position:relative;bottom:0;left:0;width:100%;">
      <div class="container">
        <div class="row">
          <div class="col l6  s12">
            <h4 class="white-text"></h4>
              <a href="https://www.linkedin.com/in/stephenro/" class="fa fa-social fa-linkedin"></a>
              <a href="https://github.com/royourboat" class="fa fa-social fa-github" style="color:#171515; font-size:70px;"></a>
              <a href="https://royourboat.github.io/" class="fa fa-social fa-user" ></a>
          </div>
          <div class="col l6 s12">
            
                <a href="{{url_for('about')}}" style="font-size:40px">About</a>
              
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container"> Stephen Ro © 2023 Copyright </div>
      </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/backtotopbutton.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery-3.0.0.min.js"></script>
    <script src="../static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/pagination.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});
      });
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
      });

      function outputUpdate(val, id) {
        document.querySelector('#val_' + id).innerHTML = parseFloat(val).toFixed(1);
      }

      function outputUpdateInt(val, id) {
        document.querySelector('#val_' + id).innerHTML = parseInt(val);
      }
    </script>
    <script>
      $(function() {
        $(function() {
          $('#pagination-long').materializePagination({
            align: 'center',
            lastPage: {
              {
                total_num_pages
              }
            },
            firstPage: 1,
            urlParameter: 'page',
            useUrlParameter: true,
            onClickCallback: function(requestedPage) {
              console.log('Requested page from #pagination-long: ' + requestedPage);
            }
          });
        });
      });
    </script>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const page = urlParams.get('page');
      const submit = urlParams.get('submit');
      var element_to_scroll_to = document.getElementById('anchor-filter');
      if (page > 1 || submit) {
        element_to_scroll_to.scrollIntoView({
          behavior: "instant"
        });
      }
    </script>
    <!-- script to set display property -->
    <script>
      // Get the img object using its Id
      img = document.getElementById("img1");
      // Function to increase image size
      function enlargeImg() {
        // Set image size to 1.5 times original
        img.style.transform = "scale(1.5)";
        // Animation effect
        img.style.transition = "transform 0.25s ease";
      }
      // Function to reset image size
      function resetImg() {
        // Set image size to original
        img.style.transform = "scale(1)";
        img.style.transition = "transform 0.25s ease";
      }
    </script>
  </body>
</html>