<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>OVINO</title>
    {{sndmap.js}}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- collapsible css -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/slider/materialize_edited.css') }}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- Tooltip-->
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="./static/css/normalize.css" />
        <link rel="stylesheet" href="static/css/social_icon.css">

  </head>
  <style>
    .checked {
      color: #ad003b;
    }
  </style>
  <style>
    .solid_border {
      border: 1px;
      border-style: solid;
      color: bababa;
    }
  </style>
  <style>
    .btn {
      font-size: 20px;
    }

    .fa-social{
        font-size: 35px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      text-align: center;
      text-decoration: none;
      margin: 5px 20px;
      border-radius: 50%;
      vertical-align: middle;
    }

  </style>
  <!-- Javascript -->
  <script type="text/javascript" src="static/js/materialize.min.js"></script>
  <!--[if lt IE 9]>
                              <!-- Back to top button -->
  <a id="button">
    <img src="/static/images/back-to-top.png" align="center">
  </a>
  <!-- body -->
  <body class="main-layout">
    <!-- loader  --
       <div align="center"><div class="loader_bg"><div class="loader"><img src="static/images/loading.gif" align="center"/></div></div></div>
                                  <!-- end loader -->
    <!-- header -->
    <header style="margin-top: 5%;">
      <!-- header inner -->
      <div class="head_top">
        <div class="header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md"></div>
              <div class="col-md-6 logo_section">
                <div class="full">
                  <div class="center-desk">
                    <div class="logo d-none d-lg-block " style=margin-top:-10%>
                      <a href="/">
                        <img src="static/images/ovino.png" alt="#" />
                      </a>
                    </div>
                    <div class="logo d-block d-lg-none">
                      <a href="/">
                        <img src="static/images/ovino.png" alt="#" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md"></div>
            </div>
          </div>
        </div>
        <!-- end header inner -->

        <!-- banner -->
        <section class="banner_main">
          <div class="container" style=margin-top:-40px>
            <h1>Find <span class="checked">good</span> wine <span class="checked">fast</span> at your LCBO </h1>
            <div align="center">
              <div class="col-lg-3 col-md-3"></div>
              <div class="col-lg-6 col-md-6 col-s12">
                <form action="." method="GET">
                  <div class="input-field "> 
                    {% if my_store %} 
                          <input type="text" name="myaddress" id="myaddress" style="width:100%;font-size:25px; font-family: FontAwesome; padding-left: 30px;" value="{{MYADDRESS}}" autocomplete="one-time-code" /> 
                    {% else %} 
                          <input type="text" name="myaddress" id="myaddress" style="width:100%;font-size:25px; font-family: FontAwesome; padding-left: 30px;" placeholder="Enter Your Location..." autocomplete="one-time-code" /> 
                    {%endif%} 
                      <label class="label-icon" for="search">
                      <i class="material-icons" style="padding-left: 5px;">search</i>
                      </label>
                  </div>
                </form>
              </div>
              <div class="col-lg-3 col-md-3"></div>
            </div>




            <!-- MAP DISPLAY -->
            <div class="row" style=margin-top:10px>
              <div class="col-sm">
                <div class="titlepage"> {% if my_store %} <h2 style=margin-top:40px>LCBO</h2>
                  <h2 style=margin-top:-10px>
                    <font color="#ad003b">{{my_store['name'].split('(')[0]}}</font>
                  </h2> {%if '(' in my_store['name'] %} <h2 style=margin-top:-10px>
                    <font color="#ad003b">{{'('+my_store['name'].split('(')[1]}}</font>
                  </h2> {%endif%} <h3>
                    <font size=5>{{my_store['address']}}
                      <br> {{my_store['city']}}
                      <br> {{my_store['phone_number']}}
                    </font>
                  </h3> {%endif%}
                </div>
              </div>
              <div class="col-md">
                <div align="center" style=margin-top:0px> {{sndmap.html}} </div>
              </div>
            </div> {%if len_wine_cards > 0%} <div class="row" style=margin-top:50px>
              <div class="col-md">
                <div class="logo">
                  <img src="static/images/ovino_v.png" style="max-width: 25%;" />
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="full">
                  <div class="center-desk">
                    <h1 style=margin-top:10px>Scroll for recommended bottles!</h1>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="logo">
                  <img src="static/images/ovino_v.png" style="max-width: 25%;" />
                </div>
              </div>
            </div> {% endif %}
          </div>
        </section>
      </div>
    </header>
    <!-- end banner -->
    <!-- end header -->





    <!-- store --> 
    {% if my_store %} 
    <div class="store" style="margin-right: 30px;margin-left: 30px;">
      <a id="anchor-filter"></a>
      <form action="#" method="GET">
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-lg-8 col-md-8 col-s12">
            <ul class="collapsible">
              <li>

                <div class="collapsible-header">
                  <i class="material-icons" style="font-size: 30px; padding-top: 2px;">tune</i>
                  <h2>Filters</h2>
                </div>

                <div class="collapsible-body #ffffff white ">
                  <div class="row">

                    <div class="col-lg-6 col-md-6 col-s12 h4">
                      <h2>Min Price </h2>
                      <div class="input-field inline">
                        <input id="price_min" name="price_min" type="number" value={{form.price_min.data}} min="1" max={{form.price_max.data-1}} style="text-align-last:center; font-size:20px;" oninput="outputUpdateInt(price_min.value,price_min.name)">
                        <label class="label-icon" for="attach_money" style="top: -3px;">
                          <i class="material-icons" style="padding-left: 5px;">attach_money</i>
                        </label>
                      </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-s12 h4">
                      <h2>Max Price </h2>
                      <div class="input-field inline">
                        <input id="price_max" name="price_max" type="number" value={{form.price_max.data}} min={{form.price_min.data+1}} max="1000000" style="text-align-last:center; font-size:20px;" oninput="outputUpdateInt(price_max.value,price_max.name)">
                        <label class="label-icon" for="attach_money" style="top: -3px;">
                          <i class="material-icons" style="padding-left: 5px;">attach_money</i>
                        </label>
                      </div>
                    </div>


                  </div>


                  <div class="row">
                    <!-- Form query and submit button -->
                    <div class="col-lg-6 col-md-6 col-s12">
                      <h2>
                        <i class="fa fa-star checked h3"></i> Rating: <span id="val_rating_min" color="#ad003b">{{ "%.1f"|format(form.rating_min.data)}}</span>+
                      </h2>
                      <div class="slidecontainer">
                        <p class="range-field">
                          <input id="rating_min" min="1.0" max="4.2" name="rating_min" oninput="outputUpdate(rating_min.value,rating_min.name)" step="0.2" type="range" value={{form.rating_min.data}} style="margin-top:  20px; ">
                        </p>
                      </div>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-s12 h4">
                      <h2>Sort by</h2>
                      {{form.sort_by}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col l12 m12 s12">
                      <div class="br3 box pa3 mt2 center-align h2">
                        <input type="hidden" name="myaddress" value="{{MYADDRESS}}" />
                        {{ form.submit(class_="btn") }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2"></div>
        </div>
      </form>






      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
          <!-- WINE CAROUSEL --> {% if len_wine_cards > 0 %} <ol> {%for i in range(len_wine_cards)%} {% set wine_card = wine_cards[i] %} <div class="black_bg">
              <div class="row d_flex">
                <div class="col-md-4">
                  <div class="store_box ">
                    <figure>
                      <img src={{wine_card['url_thumbnail']}} style="width:100%;" />
                    </figure>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="store_box ">
                    <h3>{{wine_card['name']}}</h3>
                    <h4>{{wine_card['varietal']}}, {{wine_card['category']}}
                      <br> Made in {{wine_card['made_in']}}
                      <br>By {{wine_card['brand']}}
                    </h4>
                    <h3 style="padding-top: 20px;">
                      <font color="#ad003b">{{"${:.2f}".format( wine_card['price'] )}} </font>
                    </h3>
                    <h4 style=margin-top:0px>
                      <font color="#ad003b" size=5>
                        {{wine_card['pos']}} of {{wine_card['pos']+wine_card['neg']}} recommend this price! <div data-toggle="tooltip" data-placement="top" title="{{wine_card['pos']}} people paid more and found good value. {{wine_card['neg']}} paid less and found poor value." style="display:inline;">
                          <font size=3 style="vertical-align: text-top;"> &#9432; </font>
                        </div>
                      </font>
                    </h4>
                    <h4 style="margin-top:10px;">
                      <font size=5> {% for i in range(5) %} {% if wine_card['ratings_average'] - i >= 0.89 %} <span class="fa fa-star checked"></span> {% elif wine_card['ratings_average'] - i >= 0.39 %} <span class="fa fa-star-half-empty checked"></span> {% else %} <span class="fa fa-star-o checked"></span> {%endif%} {%endfor%} </font>
                      <span>
                        <font color="#ad003b" size=5.5>{{wine_card['ratings_average']}}</font>
                      </span>
                      <font color="#ad003b">({{wine_card['ratings_count']}}) </font>
                      <!-- <span><font color="#ad003b" size=5.5>{{wine_card['ratings_average']}}</font> &nbsp;
                      </span> -->
                    </h4>
                    <br>
                    <h4>
                      {{wine_card['description'].strip()}}
                      <br>
                      <br>
                      {{"{:.1f}".format( wine_card['abv'])}}% ABV <br>
                      {{"%d"%(wine_card['calories']) }} Cal per {{wine_card['volume']}} ml bottle
                    </h4>
                    <!--                            <a class="read_more" href={{wine_card['details_url']}}>See LCBO SKU#{{wine_card['sku']}}</a>    -->
                  </div>
                </div>
              </div>
            </div> {%endfor%} </ol> &nbsp; {% else %} <h1> Sorry! No wines were found. <br>Please select different filters and try again. </h1> {% endif %}
          <!-- end FOR LOOP  -->
          <!-- end WINE CAROUSEL -->
        </div>
        <div class="col-lg-2 col-md-2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col l12 m12 s12">
        <div align="center">
          <div class="container">
            <div id="pagination-long"></div>
          </div>
        </div>
      </div>
    </div>
    </div> 
    {% endif %}
    <!-- end store -->






<!--  footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6  s12">
            <h4 class="white-text"></h4>
              <a href="https://www.linkedin.com/in/stephenro/" class="fa fa-social fa-linkedin"></a>
              <a href="https://github.com/royourboat" class="fa fa-social fa-github" style="color:#171515; font-size:70px;"></a>
              <a href="https://royourboat.github.io/" class="fa fa-social fa-user" ></a>
          </div>
          <div class="col l6 s12">
            
                <a href="{{url_for('about')}}" style="font-size:40px; color:white;">About</a>
              
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container"> Stephen Ro © 2023 Copyright </div>
      </div>
    </footer>
    <!-- end footer -->





    <!-- Javascript files-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/backtotopbutton.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.0.0.min.js"></script>
    <script src="static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="static/js/pagination.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});
      });
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
      });

      function outputUpdate(val, id) {
        document.querySelector('#val_' + id).innerHTML = parseFloat(val).toFixed(1);
      }

      function outputUpdateInt(val, id) {
        document.querySelector('#val_' + id).innerHTML = parseInt(val);
      }
    </script>
    <script>
      $(function() {
        $(function() {
          $('#pagination-long').materializePagination({
            align: 'center',
            lastPage: {{total_num_pages}},
            firstPage: 1,
            urlParameter: 'page',
            useUrlParameter: true,
            onClickCallback: function(requestedPage) {
              console.log('Requested page from #pagination-long: ' + requestedPage);
            }
          });
        });
      });
    </script>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const page = urlParams.get('page');
      const submit = urlParams.get('submit');
      var element_to_scroll_to = document.getElementById('anchor-filter');
      if (page > 1 || submit) {
        element_to_scroll_to.scrollIntoView({
          behavior: "instant"
        });
      }
    </script>
    <script type="text/javascript">
      $(function() {
        $("[rel='tooltip']").tooltip();
      });
    </script>
  </body>
</html>